
services:
    test_postgres:
      container_name: test_postgres
      image: postgres
      environment: 
        POSTGRES_PASSWORD: postgres
        POSTGRES_DB: mentorship_system_test
      ports:
        - 5432:5432

    mentorship_system_test: 
      container_name: mentorship_system_test
      build: .
      volumes:
        - ./cov:/dockerbuild/cov
      depends_on:
        - test_postgres 
      environment: 
        FLASK_ENVIRONMENT_CONFIG: test 
      command: 
        - generate_cov