APScheduler==3.6.3
coverage==5.3
Flask==1.0.2
Flask-JWT-Extended==3.25.0
Flask-Mail==0.9.1
Flask-Migrate==2.5.3
flask-restx==0.2.0
Flask-Testing==0.8.0
gunicorn==20.0.4
psycopg2-binary==2.8.6
python-dotenv==0.14.0
six==1.11.0
