APScheduler==3.7.0
coverage==5.5
Flask==1.0.2
Flask-JWT-Extended==3.25.0
Flask-Mail==0.9.1
Flask-Migrate==2.5.3
flask-restx==0.5.0
Flask-Testing==0.8.1
gunicorn==20.0.4
psycopg2-binary==2.9.6
python-dotenv==0.18.0
six==1.11.0
pre-commit
