<p>Hi {{ user_name }},</p>
<br>
<p>Welcome to Mentorship System!</p>
<br>
<p>Thanks for signing up for the Mentorship System account , We're thrilled to have you!</p>
<p>To get started, please click the link below to verify we've got your correct email address.</p>
<br>
<p><a href="{{ confirm_url }}">{{ confirm_url }}</a></p>
<p>The activation link will be active for {{ threshold // 86400 }} days.</p>
<br>

<p><i>In Systerhood,</i></p>
<p>Systers Open Source</p>
<p><a href="http://systers.io/">http://systers.io/</a></p>
