<p>Hi {{ user_name }},</p>
<p>
    To reset your password
    <p><a href="{{ confirm_url }}">Click here </a></p>
</p>
<p>Alternatively, you can paste the following link in your browser's address bar:</p>
<p><a href="{{ confirm_url }}">{{ confirm_url }}</a></p>
<p>If you have not requested a password reset simply ignore this message.</p>
<p>The activation link will be active for {{ threshold//3600 }} hr.</p>
<br>
<p><i>In Systerhood,</i></p>
<p>Systers Open Source</p>
<p><a href="http://systers.io/">http://systers.io/</a></p>
