<p>Hello Admin,</p>
<br>
<p>A violation of code of conduct has been reported by {{ reporter_name }} in their mentorship relation.</p>
<br>
<p>The details of the user reporting the violation, the task comment reported, and the commentor are as follows:</p>
<br>
<h4>User</h4>
<p>
    Name: {{ reporter_name }}
    Email: {{ reporter_email }}
</p>
<br>
<h4>Task Comment</h4>
<p>
    Comment: {{ comment }}
</p>
<br>
<h4>Commentor</h4>
<p>
    Name: {{ commentor_name }}
    Email: {{ commentor_email }}
</p>
<br>
<p><i>In Systerhood,</i></p>
<p>Systers Open Source</p>
<p><a href="http://systers.io/">http://systers.io/</a></p>