<h2 style="color:#8d2165;">Hello, {{ user_recipient_name }}</h2>
<p><b>You have new relation request!</b></p>
<br>
<p><Span style="color: #005c88;"><strong>{{ user_sender_name }} </strong></Span>has sent you a relation request. This member is requesting to be your <Span style="color: #005c88;"> <strong>{{ sender_role }}</strong></Span>.</p>
<p><b>Note from {{ user_sender_name }}:</b></p>
<p >{{ notes }}</p>
<br>
<p>Please login to <Span style="color:#8d2165;"><strong>Mentorship System </strong></Span>to take action.</p>
<br>
<p><i>In Systerhood,</i></p>
<p style="color:#8d2165;"><strong>Systers Open Source</strong></p>
<p><a href="http://systers.io/">http://systers.io/</a></p>
