<h3 style="color:#8d2165;">Hi {{ request_sender }},</h3>
<br>
<p>Congratulations!</p>
<br>
<p><Span style="color: #005c88;">Your mentorship request has been accepted by <strong>{{ request_receiver }}</strong>
    to be your <Span style="color: #005c88;"><strong>{{ role }}</strong></Span> until <Span style="color: #005c88;"><strong> {{ end_date }}</strong></Span>.
    <Span style="color: #005c88;">Wish you a great mentorship relation with <strong>{{ request_receiver }}</strong></Span>.</p>    
<br>
<p><i>In Systerhood,</i></p>
<p>Systers Open Source</p>	<p style="color:#8d2165;"><strong>Systers Open Source</strong></p>
<p><a href="http://systers.io/">http://systers.io/</a></p>	
