<h3 style="color:#8d2165;">Hi {{ request_sender }},</h3>
<br>
<p>Congratulations!</p>
<br>
<p><span style="color: #005c88;">Your mentorship request has been accepted by <strong>{{ request_receiver }}</strong>
    to be your <span style="color: #005c88;"><strong>{{ role }}</strong></span> until <span style="color: #005c88;"><strong> {{ end_date }}</strong></span>.
    <span style="color: #005c88;">Wish you a great mentorship relation with <strong>{{ request_receiver }}</strong></span>.</p>    
<br>
   
<p style="color:#8d2165;"><strong>Anita Borg Open Source</strong></p>
<p><a href=" http://anitab.org"> http://anitab.org</a></p>	
