# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Lint Code and Run Tests

on:
  pull_request:
    branches: [develop]
    paths-ignore: 
      - '**.md'
  push:
    branches: [develop]
    paths-ignore: 
      - '**.md'

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
      - uses: psf/black@stable      

  build:
    needs: lint
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python: [3.7, 3.9]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.x
      uses: actions/setup-python@v2
      with:
        python-version:  ${{ matrix.python }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Run tests
      run: |
        python -m unittest discover tests -v
    - name: Generate coverage report
      run: |
        pip install pytest
        pip install pytest-cov
        pytest --cov-config=.coveragerc
        pytest --cov=./ --cov-report=xml
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v1
      with:
        file: ./coverage.xml
        name: codecov-umbrella
        fail_ci_if_error: true
